<h2> List of Kitties I've Owned </h2>
<ul>
  <li>Pancho</li>
  <li>Figaro</li>
  <li>Stardust</li>
  <li>Shiloh</li>
  <li>Pele</li>
  <li>Namaka</li>
  <li>Anubis</li>
  <li>ShibShib</li>
  <li>Zenga</li>
  <li>Lucky</li>
  <li>Boo</li>
  <li>Olive</li>
</ul>